{% load i18n %}
<div class="isobar-map">
	<section class="clearfix span2-to-span1">
		<div class="span1 fl">
		<h2><img src="{{ settings.MEDIA_URL }}img/logo/brandname-med.png" width="98" height="28" alt="Isobar"></h2>
		<blockquote class="left quote" cite="Isobar">
			{% trans 'Bringing people and brands together like never before' %}
		</blockquote>
		</div>
		<div class="isobar-network-desc span1 fl">
		<p>
			{% trans 'We are a modern communications agency network made up of over 2,500 talented individuals in 34 markets around the world. Together we bring people and brands together, like never before.' %}		</p>
		<ul class="list-external-links">
			<li><a class="ext-link" href="http://www.isobar.com/">{% trans 'Find out more at www.isobar.com' %}</a></li>
			<li><a class="ext-link" href="http://www.isobar.com/contact/">{% trans 'View our global locations' %}</a></li>
		</ul>
		</div>
	</section>
</div>