  {% load dict_extras %}
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.3&amp;sensor=true"></script>
  
  <script type="text/javascript">
      /**
       * The following JS is used in roundarch-contact.js but needs to be in the template file because it uses template tags:
       */
      var agencyData = [{% for agency in agencies %}
              { name: '{{ agency.name|striptags|upper }}', latitude: '{{ agency.latitude }}', longitude: '{{ agency.longitude }}', phone: '{{ agency.telephone|striptags }}',
                email: '{{ agency.email|striptags }}', url: '{{ agency.url|striptags }}', address1: '{{ agency.address_line1|striptags|safe }}', address2: '{{ agency.address_line2|striptags|safe }}',
                country: '{{ country }}', city: '{{ agency.city|striptags }}' },
          {% endfor %}
      ];
  </script>
  
  <script type="text/javascript" src="{{ settings.MEDIA_URL }}js/us/roundarch-contact.js"></script>

  <div id="popup-office-template" style="display: none;">
    <li class="popup-office-item">
        <a class="contact-city" href="#" alt="View map location">{{ office.city }}</a>
        <span class="contact-address-line-one">{{ office.address_line1 }}</span>
        <span class="contact-address-line-two">{{ office.address_line2 }}</span>
        <a class="directions-link ext-link" target="_blank" href="http://maps.google.co.uk/maps?f=d&source=s_d&saddr=&daddr={{ office.latitude }},{{ office.longitude }}" alt="Get Directions">Get Directions</a>
        {% if office.get_absolute_url %}<a class="website-link ext-link" href="{{ office.get_absolute_url }}" alt="Go to website">{{ office.get_absolute_url }}</a>{% endif %}
        <a class="telephone-link ext-link" href="tel:{{ office.telephone }}" alt="Telephone">{{ office.telephone }}</a>
        <a class="email-link ext-link" href="mailto:{{ office.email }}" alt="Email" >{{ office.email }}</a>
    </li>
</div>

<section class="contact wrap-content {{map}}">
    <div class="main-content-pad">
        <div class="container clearfix">
        
            <div id="contacts-popup">
                <div id="pop-up-header">
                    <div id="pop-up-office-name"></div>
                    <div id="popup-close-button" alt="Close">&times;</div>
                </div>
                <div id="popup-content">
                    <section id="container-map" class="contact-map-container">
                        <div id="map">
                        </div>
                    </section>
                    <div id="container-map-container-one"></div>
                    <div id="container-map-container-two"></div>
                </div>
            </div>

                <div class="contact-headline serif">We reach over 34 <br/>markets worldwide</div>
                {% if global_contact %}
                <div class="fl span1-to-span460">
                    <div class="office-container">
                        <div class="header"> 
                            <p> HEAD OFFICE </p>
                            <hr class="office-rule" style="width:400px; float:left; margin-bottom: 25px;"/>
                        </div>
                        <ul class="office-column">
                            <li>
                                <div class="icon"></div>
                                <div class="office">
                                    <span class="city"> {{ global_contact.address_line1 }}</span>
                                    <span class="city"> {{ global_contact.address_line2 }}</span>
                                    <ul class ="office">
                                        <li><a class="directions-link ext-link" target="_blank" href="http://maps.google.co.uk/maps?f=d&source=s_d&saddr=&daddr={{ global_contact.latitude }},{{ global_contact.longitude }}" alt="Get Directions"><b>Get Directions</b></a></li>
                                        <li><a href="tel:{{global_contact.telephone}}" alt="" class="telephone-link">{{ global_contact.telephone }}</a></li>
                                        <li><a href="mailto:{{global_contact.email}}" alt="" class="email-link">{{ global_contact.email }}</a></li>
                                    </ul>
                                </div> 
                             </li>
                        </ul>
                    </div>
                </div>
                <div class="region-contact-container">
                    <p> GLOBAL CONTACTS </p>
                    <hr class="office-rule" style="margin-bottom: 25px;"/>
                    <div class="contact-icon"></div>    
                    <div class="contact-container">
                        {% for person in region.people.all %}
                        <div class="regional-contact">   
                            <div><strong>{{ person.title }}</strong> <br/> <em>{{ person.name }}</em></div>
                               <ul class="list-contact-details">
                                   <li><a href="mailto:{{ person.email }}">{{ person.email }}</a></li>
                                 </ul>   
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                {% else %}
                <div class="region-name"> {{region.name}} </div>
                <div class="office-container">
                {% for country in rc|hash:region.id %}
                            {% if co|hash:country.id|length_is:"1" and forloop.counter != 1 %}
                            <div class="country-offices solo">
                            {% else %}
                            <div class="country-offices">
                            {% endif %}
                            
                            <div class="header"> {{ country.name|upper }} OFFICES</div>
                            
                            {% if forloop.counter == 1 or co|hash:country.id|length_is:"1" %}
                            <hr class="office-rule" style="width:435px; float:left;"/>
                            {% else %}
                            <hr class="office-rule"/>
                            {% endif %}
                            
                            <ul class="office-column">
                            {% for office in co|hash:country.id %}
                                {% if forloop.parentloop.counter == 1 and forloop.counter == 2 %}
                                <li class="column-element">
                                </li>
                                <li class="column-element">
                                {% else %}
                                <li class="column-element">
                                {% endif %}
                                <div class="icon"></div>
                                <div class="office">
                                    <span class="name">{{ office.name|upper }}</span>
                                    <span class="city">{{ office.city }}</span>
                                    <p class="serif address">{{ office.address_line1 }}<br />{{ office.address_line2 }}</p>
                                </div> 
                                    <ul class ="office-contact">
                                        <li><a class="directions-link ext-link" target="_blank" href="http://maps.google.co.uk/maps?f=d&source=s_d&saddr=&daddr={{ office.latitude }},{{ office.longitude }}" alt="Get Directions"><b>Get Directions</b></a></li>
                                        <li><a href="tel:{{office.telephone}}" alt="" class="telephone-link">{{ office.telephone }}</a></li>
                                        <li><a href="mailto:{{office.email}}" alt="" class="email-link">{{ office.email }}</a></li>
                                    </ul>
                             </li>
                            {% endfor %} 
                            </ul> 
                        </div>
                {% endfor %}
                </div>
                
                {% endif %}
                
                <div class="dogear dogear-top dogear-bottom cb">
                <div class="top"></div>
                <section class="contacts-common-container tl clearfix">
                {% for region in regions %}
                    <div class="region">
                        <div class="name">
                            <span class="region-title serif">{{ region.name }}</span>
                        </div>
                        
                        <div class="region-contact">
                            <p>
                            {% for contact in region.people.all %}
                                {% if contact.title %}<b>{{contact.title}}</b>{% endif %}{% if contact.name %}, {{ contact.name }}{% endif %}{% if contact.email %}, <a href="mailto:{{ contact.email }}" alt="" class="email-link">{{ contact.email }}</a>{% endif %}
                                 <br />
                            {% endfor %}
                            </p>
                         </div>
                        
                       <hr class="region-rule"/>
                       
                        <ul class="region-column clearfix">
                            {% for country in rc|hash:region.id %}
                                {% for office in co|hash:country.id %}
                                  {% if office.show %}
                                      <li class="item-wrap-country">
                                           <span class="country-link">{{ country.name|upper }}: </span>
                                           <a href="{{ office.get_absolute_url }}" class="map-link" alt="{{ office.name }} homepage">{{ office.name }}</a>
                                           <br/>
                                           <a href="{{ office.get_absolute_url }}" class="website-link" alt="{{ office.get_absolute_url }} homepage">{{ office.url }}</a>
                                      </li>
                                    {% endif %}
                                {% endfor %}         
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                </section>
                <div class="bottom"></div>
            </div>
        </div>
    </div>
</section>
