{% extends "base.html" %}
{% load i18n %}
{% block page_title %}Contact{% endblock page_title %}
{% block additional_headers %}
{% endblock additional_headers %}
{% block primary_nav %}
    {% primary_nav 'contact' %}
{% endblock primary_nav %}

{% block content %}

<section class="contact wrap-content">
    <div class="main-content-pad">
        <div class="container clearfix">
        
            <div class="dogear-top" style="margin-top: 40px"></div>
                
                {% for office in offices %}
                <section class="isobar-video-header tl clearfix"> <!--box-text section-->
                    <ul class="list-flow mobile-clear clearfix force-clear">
                        <p class="title">{{ office.name }} </p>
                        <span class="rule"></span>
                        <li class="content-crossfade">
                            <p class="title"> </p>  
                            <div class="isobar-video-text box fl span2-to-span1">
                                    <p class="panel-summary"></p>
                            </div>
                        </li>
                     </ul>
                </section>
                {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}