{% load i18n %}
<span style='position:relative; top:-10px'>
<a href="{% url contact_view %}">{% trans 'glue Isobar' %}</a> {% trans 'is a trading division of' %} <a href="http://www.aemedia.com/">{% trans 'Aegis Media Limited' %}</a> {% trans '. Registered office 43-49 Parker St. London WC2B 5PS. Registered in England and Wales No. 01939690' %}
</span>
<SCRIPT LANGUAGE="JavaScript" >
document.writeln("<span style='margin-left:10px;'><a href='http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20120328161456357'><img src='{{ settings.MEDIA_URL }}img/icons/ch/icon.png' border=0></a></span>")
</SCRIPT>
