{% extends "base.html" %}
{% load i18n %}

{% block meta_keywords %}
{% trans "meta_keywords_home" %}
{% endblock meta_keywords %}

{% block meta_description %}
{% trans "meta_description_home" %}
{% endblock meta_description %}

{% block meta_og_title %}
{% trans "Isobar: A Modern Communications Agency" %}
{% endblock meta_og_title %}

{% block meta_og_description %}
{% trans "Isobar is an advertising agency specialising in digital creative work." %}
{% endblock meta_og_description %}

{% block meta_og_image %}
{% trans "default.jpg" %}
{% endblock meta_og_image %}

{% block primary_nav %}
	{% primary_nav 'home' %}
{% endblock primary_nav %}

{% block content %}

<div class="home wrap-content">
	<div class="main-content-pad">
		<section class="container mobile">
			<ul class="list-flow clearfix">
				{% for location in locations %}
					<li class="span1 fl">
						<section class="box-text-alt box-text"> <!--box-text section-->
							<header>									
								<h1 class="box-title-underlined sub-title">{% trans 'Address' %}</h1>
							</header>
							<p class="serif">
								{{ location.address }}
							</p>
							<img src="{{ settings.MEDIA_URL }}{{ location.map_image }}" alt="{% trans 'Location map' %}" height="235" width="235">
							<ul class="clearfix list-center-links">
								<li><a class="ext-link" href="http://maps.google.co.uk/maps?f=d&source=s_d&saddr=&daddr={{ location.latitude }},{{ location.longitude }}">Get directions</a></li>
								<li><a class="ext-link" href="http://maps.google.co.uk/maps?f=q&amp;hl=en&amp;geocode=&amp;q={{ location.latitude }},{{ location.longitude }}+(glue+Isobar)&amp;aq=&amp;sll=51.524299,-0.143144&amp;z=19">View on Google Maps</a></li>
							</ul>
						</section> <!--end box-text section-->
					</li>
				{% endfor %}
				<li class="span1 fl">
					<div class="box-text br"> <!--box-text section-->
						<section>
							<header class="title-container">
								<h1 class="box-title"><img src="{{ settings.MEDIA_URL }}img/mobile/icons/newsletter.png" alt="{% trans 'Subscribe' %}"></h1>
							</header>
									<p>Keep up to date with all things Isobar, <br>plus all the latest digital news and <br>trends</p>
									<p class="serif"><a target="_blank" href="http://the.visualjazz.com.au/subscribe/">Subscribe</a></p>
								
						</section>
						<!--<section>
							<header class="title-container">
								<h1 class="box-title"><img src="{{ settings.MEDIA_URL }}img/mobile/icons/phone.png" alt="{% trans 'Phone' %}"></h1>
							</header>
							{% for phone in phones %}
								<p class="phone-number serif">{{ phone.number }}</p>
							{% endfor %}
						</section>-->
							<section>
								<header>
									<h1 class="box-title"><img src="{{ settings.MEDIA_URL }}img/mobile/icons/envelope.png" alt="{% trans 'Email' %}"></h1>
								</header>
								<ul class="list-center-links email">
									{% for email in emails %}
										<li><a class="serif" href="mailto:{{ email.address }}">{{ email.address }}</a></li>
									{% endfor %}
								</ul>
							</section>
						</div> <!--end box-text section-->
					</li>
				</ul>
			</section>
			<section class="container">
			<ul class="masonry list-flow clearfix">
				<li class="span2 box">
					<section id="welcome" class="box-feature tl"> <!--box-text section-->
						<a href="{% url about_view %}">
							<p class="serif title-container">
								<span class="sub-title">{% trans 'Welcome!' %}</span>
								{% trans 'We are glue Isobar, a creative agency with digital very much at our heart.  Our London office is home to 150 fabulously talented individuals and is the HQ for Isobar global creative network.' %}
							</p>
							<span class="rule rule-60"></span>
							<footer class="wrap-int-link">
								<span class="int-link">{% trans 'View our showreel' %}</span>
							</footer>
						</a>
					</section> <!--end box-text section-->
				</li>

				{% if casestudy_1 %}
					<li class="box">
						<article class="media-box sml-media-box"><!--start media-box-->
							<a href="{{ casestudy_1.get_absolute_url }}" >
								<img src="{{ casestudy_1.hero_image|thumbnail:'140x140x1' }}" alt="{{ casestudy_1.title_label }}">
								<div class="media-box-rollover"><!--media-box content-->
									<h1 class="title">{{ casestudy_1.title_label }}</h1>
									<span class="rule rule-30"></span>
								</div><!--end media-box content-->
							</a>
						</article><!--end media-box-->
					</li>
				{% endif %}

				{% if person_1 %}
					<li class="box">
						<article class="media-box sml-media-box"><!--start media-box-->
							<a href="{{ person_1.get_absolute_url }}">
								<img src="{{ person_1.image|thumbnail:'140x140x1' }}" alt="{{ person_1.title_label }}">
								<div class="media-box-rollover"><!--media-box content-->
									<h1 class="title">{{ person_1.title_label }}</h1>
									<span class="rule rule-30"></span>
									{% if person_1.role %}
										<h2>{{ person_1.role }}</h2>
									{% else %}
										<h2>{{ person_1.department.title_label }}</h2>
									{% endif %}
								</div><!--end media-box content-->
							</a>
						</article><!--end media-box-->
					</li>
				{% endif %}

				{% if casestudy_4 %}
					<li class="box">
						<article class="media-box lrg-media-box"><!--start media-box-->
							<a href="{{ casestudy_4.get_absolute_url }}">
								<img src="{{ casestudy_4.hero_image|thumbnail:'300x300x1' }}" alt="{{ casestudy_4.title_label }}">
								<div class="info"><!--media-box content-->
									<h1 class="title"><span class="int-link">{{ casestudy_4.title_label }}</span></h1>
								</div><!--end media-box content-->
							</a>
						</article><!--end media-box-->
					</li>
				{% endif %}

				{% if news_1 %}
					<li class="span1 box">
						<section class="box-text"><!--box-text section-->
							<a href="{{ news_1.get_absolute_url }}">
								<h1 class="box-title title-container">{% trans 'glue News' %}</h1>
								<span class="rule rule-220"></span>
								<blockquote class="quote">
									{{ news_1.title_label|truncatewords:17|striptags|safe }}
								</blockquote>
								<span class="rule rule-30"></span>
								<strong>{% trans 'Read More' %}</strong>
							</a>
						</section><!--end box-text section-->
					</li>
				{% endif %}
				
				{% if person_2 %}
					<li class="box">
						<article class="media-box sml-media-box"><!--start media-box-->
							<a href="{{ person_2.get_absolute_url }}">
								<img src="{{ person_2.image|thumbnail:'140x140x1' }}" alt="{{ person_2.title_label }}">
								<div class="media-box-rollover"><!--media-box content-->
									<h1 class="title">{{ person_2.title_label }}</h1>
									<span class="rule rule-30"></span>
									{% if person_2.role %}
										<h2>{{ person_2.role }}</h2>
									{% else %}
										<h2>{{ person_2.department.title_label }}</h2>
									{% endif %}
								</div><!--end media-box content-->
							</a>
						</article><!--end media-box-->
					</li>
				{% endif %}
	
				{% if casestudy_2 %}
					<li class="box">
						<article class="media-box sml-media-box"><!--start media-box-->
							<a href="{{ casestudy_2.get_absolute_url }}">
								<img src="{{ casestudy_2.hero_image|thumbnail:'140x140x1' }}" alt="{{ casestudy_2.title_label }}">
								<div class="media-box-rollover"><!--media-box content-->
									<h1 class="title">{{ casestudy_2.title_label }}</h1>
									<span class="rule rule-30"></span>
								</div><!--end media-box content-->
							</a>
						</article><!--end media-box-->
					</li>
				{% endif %}

				{% if casestudy_5 %}
					<li class="box">
						<article class="media-box lrg-media-box"><!--start media-box-->
							<a href="{{ casestudy_5.get_absolute_url }}">
								<img src="{{ casestudy_5.hero_image|thumbnail:'300x300x1' }}" alt="{{ casestudy_5.title_label }}">
								<div class="info"><!--media-box content-->
									<h1 class="title"><span class="int-link">{{ casestudy_5.title_label }}</span></h1>
								</div><!--end media-box content-->
							</a>
						</article><!--end media-box-->
					</li>
				{% endif %}

				{% if news_2 %}
					<li class="span1 box">
						<section class="box-text"><!--box-text section-->
							<a href="{{ news_2.get_absolute_url }}">
								<h1 class="box-title title-container">{% trans 'glue News' %}</h1>
								<span class="rule rule-220"></span>
								<blockquote class="quote">
									{{ news_2.title_label|truncatewords:17|striptags|safe }}
								</blockquote>
								<span class="rule rule-30"></span>
								<strong>{% trans 'Read More' %}</strong>
							</a>
						</section><!--end box-text section-->
					</li>
				{% endif %}

				{% if casestudy_6 %}
					<li class="box">
						<article class="media-box lrg-media-box"><!--start media-box-->
							<a href="{{ casestudy_6.get_absolute_url }}">
								<img src="{{ casestudy_6.hero_image|thumbnail:'300x300x1' }}" alt="{{ casestudy_6.title_label }}">
								<div class="info"><!--media-box content-->
									<h1 class="title"><span class="int-link"> {{ casestudy_6.title_label }}</span></h1>
								</div><!--end media-box content-->
							</a>
						</article><!--end media-box-->
					</li>
				{% endif %}

				{% if casestudy_3 %}
					<li class="box">
						<article class="media-box sml-media-box"><!--start media-box-->
							<a href="{{ casestudy_3.get_absolute_url }}">
								<img src="{{ casestudy_3.hero_image|thumbnail:'140x140x1' }}" alt="{{ casestudy_3.title_label }}">
								<div class="media-box-rollover"><!--media-box content-->
									<h1 class="title">{{ casestudy_3.title_label }}</h1>
									<span class="rule rule-30"></span>
								</div><!--end media-box content-->
							</a>
						</article><!--end media-box-->
					</li>
				{% endif %}

				{% if person_3 %}
					<li class="box">
						<article class="media-box sml-media-box"><!--start media-box-->
							<a href="{{ person_3.get_absolute_url }}">
								<img src="{{ person_3.image|thumbnail:'140x140x1' }}" alt="{{ person_3.title_label }}">
								<div class="media-box-rollover"><!--media-box content-->
									<h1 class="title">{{ person_3.title_label }}</h1>
									<span class="rule rule-30"></span>
									{% if person_3.role %}
										<h2>{{ person_3.role }}</h2>
									{% else %}
										<h2>{{ person_3.department.title_label }}</h2>
									{% endif %}
								</div><!--end media-box content-->
							</a>
						</article><!--end media-box-->
					</li>
				{% endif %}

				{% if twitter_installed %}
					<li class="span1 box">
						<section id="tweet" class="box-feature"><!--box-text section-->
							<a href="http://twitter.com/{{tweet.screen_name}}/">
								<div>
									<h1 class="box-title title-container">{% trans 'Our Latest Tweet' %}</h1>
									<span class="rule rule-220"></span>
									<div class="icon-twitter-bird rollover"></div>
								</div>
								<p class="serif sub-title">
									{{tweet.text|safe}}
								</p>
								<span class="rule rule-30"></span>
								<footer class="wrap-int-link">
									<span class="int-link">{% trans 'follow us @' %}{{tweet.screen_name}}</span>
								</footer>
							</a>
						</section><!--end box-text section-->
					</li>
				{% endif %} 
			</ul>
		</section>
	</div>
</div>
{% endblock %}
