{% extends "base.html" %}
{% load i18n %}
{% block page_title %}Join{% trans 'glue Isobar: A Modern Communications Agency' %}{% endblock page_title %}

{% block meta_description %}
    Insert description here
{% endblock meta_description %}

{% block meta_og_title %}
    Join
{% endblock meta_og_title %}

{% block meta_og_description %}
    Description
{% endblock meta_og_description %}

{% block additional_headers %}
{% endblock additional_headers %}

{% block primary_nav %}
	{% primary_nav 'join' %}
{% endblock primary_nav %}

{% block content %}

	<section class="join wrap-content">
	
	</section> <!--end content area-->
{% endblock content %}